<div *ngFor="let item of items">
    <div>
        <input type="checkbox" [(ngModel)]="item.isCompleted" (change)="updateStatus(item)" />
        <span *ngIf="item.isCompleted"><s>{{item.name}}</s></span>
        <span *ngIf="!item.isCompleted">{{item.name}}</span>
        <button mat-button type="button" [disabled]="isItemDisabled(item)" (click)="deleteItem(item)" *ngIf="item.isCompleted"><i
                class="fa fa-trash" aria-hidden="true" title="Delete"></i>
            </button>
        </div>
</div>